<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="input1" value="10">
    <script>
        //선택한 태그의 속성 값 읽기
        //문법 : 선택한태그.속성명;
        const tag1 =document.querySelector('#input1');
            console.log(tag1.value);
            console.log('id ='+ tag1.id)
            console.log(`type = ${tag1.type}`)

            //속성값 변경하기
            tag1.value = 20;
    </script>
</body>
</html>