<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>fetch_test.html 파일</h2>
    <input type="button" value="비동기 통신1" onclick="t1()"> <br>
    <!-- static 폴더에 있는 자바스크립트랑 연동하는 코드 "/"필수 -->
    <input type="button" value="비동기 통신2" onclick="t2()"> <br>
    <input type="button" value="비동기 통신3" onclick="t3()"> <br>
    <script src="/fetch_test.js"></script>
</body>
</html>