<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
<!--    다음에 INSERT할 ITEM_CODE를 조회-->
    <select id="selectNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE),0)+1 FROM shop_item
    </select>
<!--   상품등록 쿼리-->

	<insert id="itemInsert">
        INSERT INTO SHOP_ITEM(
            ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , CATE_CODE
        )
        VALUES(
            #{itemCode}
            , #{itemName}
            , #{itemPrice}
            , #{itemIntro}
            , #{cateCode}
        )
    </insert>

<!--    상품이미지 정보 등록-->
    <insert id="insertImgs">
        INSERT INTO ITEM_IMAGE(
            ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , IS_MAIN
            , ITEM_CODE
        )VALUES
        <foreach collection="imgList" item="img" separator=",">
            (
                #{img.originFileName}
                , #{img.attachedFileName}
                , #{img.isMain}
                , #{img.itemCode}
            )
        </foreach>

    </insert>
<!--    상품 정보 변경 화면에서 상품 목록조회 화면-->
    <select id="selectItemBuy" resultMap="itemMapper.itemMap">
        SELECT
        ITEM_CODE
            , ITEM_NAME
            , ITEM_STOCK
            , ITEM_STATUS
            , CASE
        WHEN ITEM_STATUS=1 THEN '준비중'
        WHEN ITEM_STATUS=2 THEN '판매중'
        ELSE '매진'
        END AS STR_STATUS
        FROM shop_item
    </select>
    <select id="selectAdminUpdate" resultMap="itemMapper.itemMap">
        SELECT CATE.CATE_CODE
        , CATE_NAME
        , ITEM_NAME
        , ITEM_STOCK
        , ITEM_STATUS
        , ITEM.ITEM_CODE
        , IS_MAIN
        , ATTACHED_FILE_NAME
        , ORIGIN_FILE_NAME
        , IMG_CODE
        FROM shop_item ITEM
        INNER JOIN item_category CATE
        ON CATE.CATE_CODE = ITEM.CATE_CODE
        INNER JOIN item_image IMAGE
        ON IMAGE.ITEM_CODE = ITEM.ITEM_CODE
        WHERE ITEM.ITEM_CODE = #{itemCode}
    </select>
    <update id="updateItemList">
        UPDATE SHOP_ITEM
        SET CATE_CODE = #{cateCode}
        , ITEM_NAME = #{itemName}
        , ITEM_STOCK = #{itemStock}
        , ITEM_STATUS = #{itemStatus}
        WHERE ITEM_CODE= #{itemCode}

    </update>
</mapper>































