<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<form action="/board/update" method="post">
    <table>
        <tr>
            <td>글번호</td>
            <td><input type="text" name="boardNum" th:value="${boardUp.boardNum}" readonly> </td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title" th:value="${boardUp.title}"> </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="writer" th:value="${boardUp.writer}" readonly> </td>
        </tr>
        <tr>
            <td>작성일</td>
            <td><input type="text" name="createDate"th:value="${boardUp.createDate}" readonly> </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea name="content" cols="30" rows="10" >[[${boardUp.content}]]</textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="수정">
</form>
</body>
</html>