<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="categoryMap" type="com.green.shop.item.vo.CategoryVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>
    <resultMap id="itemMap" type="com.green.shop.item.vo.ItemVO">
        <id column="ITEM_CODE"      property="itemCode"/>
        <result column="ITEM_NAME"  property="itemName"/>
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="ITEM_STOCK" property="itemStock"/>
        <result column="ITEM_INTRO" property="itemIntro"/>
        <result column="REG_DATE"   property="regDate"/>
        <result column="CATE_CODE"  property="cateCode"/>
        <collection property="imgList" resultMap="img"/>
<!--         조인/서브쿼리를 사용해서 조회한 데이터를 자바로 가져오는 방법-->
<!--        1.resultMap에 조인해서 조회하는 컬럼명을 result태그로 직접 기입-->
<!--        2. resultMapdp 테이블간의 관계를 파악(1:1,1:N)해서-->
<!--        3.데이터베이스의 view개념 적용(장바구니)-->
    </resultMap>
    <resultMap id="img" type="com.green.shop.item.vo.ImgVO">
        <id column="IMG_CODE"               property="imgCode"/>
        <result column="ORIGIN_FILE_NAME"   property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN"            property="isMain"/>
        <result column="ITEM_CODE"          property="itemCode"/>

    </resultMap>

    <!-- 카테고리 목록 조회-->
	<select id="cateSelect" resultMap="categoryMap">
        SELECT
            CATE_CODE
            , CATE_NAME
        FROM ITEM_CATEGORY
        ORDER BY CATE_CODE ASC
    </select>
    <select id="itemSelect" resultMap="itemMap">
        SELECT
            S.ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , ATTACHED_FILE_NAME
        FROM SHOP_ITEM S INNER JOIN ITEM_IMAGE I
        ON S.ITEM_CODE = I.ITEM_CODE
        WHERE IS_MAIN='Y'
        ORDER BY REG_DATE DESC
    </select>
<!--    상품 상세 정보 쿼리-->
<select id="detailSelect" resultMap="itemMap">
    SELECT
        S.ITEM_CODE
        , ITEM_NAME
        , ITEM_PRICE
        , ITEM_INTRO
        , ATTACHED_FILE_NAME
        , IS_MAIN
    FROM SHOP_ITEM S INNER JOIN ITEM_IMAGE I
    ON S.ITEM_CODE = I.ITEM_CODE
    WHERE S.ITEM_CODE = #{itemCode}
</select>
</mapper>































