<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    textarea{
        resize: none;
    }
</style>
</head>
<body>
 
<h1>회원 정보 확인 및 추가 정보 입력 화면</h1>
<p>[[${member.name}]] 회원님 가입을 환영합니다</p>
<div>아래 추가 정보를 입력해주세요 </div>
<form action="goinfo" method="post">
    <input type="hidden" name="id" th:value="${member.id}">
    <input type="hidden" name="pw" th:value="${member.pw}">
    <input type="hidden" name="name" th:value="${member.name}">
    <input type="hidden" name="mail" th:value="${member.mail}">
    <input type="hidden" name="birthday" th:value="${member.birthday}">
    <th:block th:each="each : ${member.tel}">
        <input type="hidden" name="tel" th:value="${each}">
    </th:block>
    <div>
    관심 레슨 
    <input type="checkbox" name="lesson" value="수영">수영
    <input type="checkbox" name="lesson" value="헬스">헬스
    <input type="checkbox" name="lesson" value="요가">요가
    <input type="checkbox" name="lesson" value="필라테스">필라테스
    </div>
<div>
    레슨에 참여한 적 있나요
    <input type="radio" name="yesOrNo" value="예">예
    <input type="radio" name="yesOrNo" value="아니오">아니오
</div>
<div>
    <textarea name="intro" cols="30" rows="5"></textarea>
</div>
<input type="submit" value="입력완료">
</form>
</body>
</html>